
click==8.2.1
colorama==0.4.6
cvat_sdk==2.38.0
defusedxml==0.7.1
dill==0.3.7
dos2unix==1
dot==0.3.0
env==0.1.0
et_xmlfile==2.0.0
importlib_resources==6.5.2
isort==5.12.0
json-stream==2.3.3
json-stream-rs-tokenizer==0.4.29
lxml==5.4.0
MarkupSafe==2.1.5
matplotlib==3.8.2
nltk==3.9.1
numpy==1.26.2
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==23.2
pandas==2.2.3
pillow==11.2.1
platformdirs==4.0.0
prompt-toolkit==3.0.43
propcache==0.3.2
pylint==3.0.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.1.1
python-rapidjson==1.20
pywin32==310
PyYAML==6.0.1
radian==0.6.11
rchitect==0.4.6
regex==2024.11.6
requests==2.31.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
seaborn==0.13.2
shapely==2.1.1
six==1.16.0
svgwrite==1.4.3
sympy==1.13.3
tabulate==0.9.0
tinydb==4.8.2
tomlkit==0.12.3
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
tritonclient==2.58.0
wcwidth==0.2.13
websocket-client==1.8.0
yarl==1.20.1

